/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Layout */

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 
        [row1-start] "header" 1fr [row1-end]
        [row2-start] "library" 7fr [row2-end]
    ;
}

header {
    grid-area: header;
}

section.library-wrapper {
    grid-area: library;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    justify-items: center;
    align-content: flex-start;   
}

div.card {
    width: max(250px, 5rem);
    height: max(300px, 6rem);
    margin-top: 2rem;
}
/* Test layout */

header {
    background-color: aquamarine;
}

section.library-wrapper {
    background-color: bisque;
}

div.card {
    border: 2px solid red;
}